<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">Tuto</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><%= link_to 'Home', home_path, class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to 'Valou', mdr_path, class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to 'Mes Livres', books_path, class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to 'Mes Posts', posts_path, class: 'nav-link' %></li>
    </ul>
    <% if user_signed_in? %>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item"><%= link_to 'Se déconnecter', destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
    </ul>
    <% else %>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item"><%= link_to 'Se connecter', user_session_path, class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to "S'inscrire", new_user_registration_path, class: 'nav-link' %></li>
    </ul>
    <% end %>
  </div>
</nav>
