<!DOCTYPE html>
<html>
  <head>
    <title>Webapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/21fadd449e.js" crossorigin="anonymous"></script>
  </head>

  <body>

    <% if flash[:notice] %>
    <div id="notice_wrapper">
      <p class="notice"><%= flash[:notice] %></p>
    </div>
    <% end %>

  <%= render partial: 'layouts/nav' %>

  <div class="container" style="padding-top: 5rem;">
    <%= yield %>
  </div>

<!-- Script concernant la notification de validation d'un livre -->
<script>
  $(document).ready(function(){
    setTimeout(function(){
      $('#notice_wrapper').fadeOut("slow", function() {
        $(this).remove();
      })
    }, 4500);
  });
</script>

  </body>
</html>
